body {
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#display {
    max-width: 70vw;
    height: 22vh;
    font-family: monospace;
    font-size: 15em;
    font-weight: bolder;
    color: white;
}
#buttons {
    display: grid;
    grid-template-rows: repeat(1,150px);
    grid-template-columns: repeat(4,150px);
    
}
.operationButton{
    background-color:orange;
    font-size: 5em;
    font-weight: bold;
}
.special3 {
    background-color: lightblue;
    font-size: 3em;
    font-weight: bold;
}
.numberButton{
    font-size: 3em;
    font-weight: bold;
}
#numbers {
    display: grid;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(4,150px);
    
}
#equals {
    height: 225px;
}
.zero {
    width: 450px;
    height: 75px;
    font-size: 3em;
    font-weight: bold;
}
